
* {
	font-family: sans-serif;
}

h1 {
	position: relative;
	color: #426ab3;
	font-size: 40px;
	padding: 10px 0;
	text-align: center;
	margin: 1.5em 0;
	font-weight: bold;
}

h1:before {
	content: "";
	position: absolute;
	top: -16px;
	left: 50%;
	width: 175px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #73c2fb;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

h2 {
	font-size: 20pt;
	position: relative;
	padding: 0.1em 0.5em;
	background: -webkit-linear-gradient(to right, lightblue, transparent);
	background: linear-gradient(to right, lightblue, transparent);
	color: #545454;
}

ul {
	padding: 0;
}

ul li {
	color: #404040;
	border-left: solid 10px deepskyblue;
	border-bottom: solid 2px #dadada;
	background: whitesmoke;
	margin-bottom: 5px;
	line-height: 1.5;
	padding: 0.5em;
	list-style-type: none!important;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
	}

	h1:before {
		top: -12px;
		height: 80px;
	}

	h2 {
		font-size: 20px;
	}

	ul {
		padding: 0;
	}

	ul li {
		color: #404040;
		border-left: solid 10px deepskyblue;
		border-bottom: solid 2px #dadada;
		background: whitesmoke;
		margin-bottom: 5px;
		line-height: 1.5;
		padding: 0.5em;
		list-style-type: none!important;
		font-weight: bold;
	}
}